$font-default: "BPG Nino Elite", sans-serif;
$font-heading: "BPG Nino Elite Exp Caps", sans-serif;
$font-nav: "BPG Nino Mtavruli Bold", sans-serif;
$font-menu: "BPG Nino Mtavruli Bold", sans-serif;

// Global Colors
$color-primary: #00a2ec;
$color-primary-rgba: #00a2ecfa;
$color-primary-dark: #006eb3;
$color-primary-dark-rgba: rgba(0, 110, 179, 0.98);
$color-primary-footer: #09373d;
$color-secondary: #a7afa9;
$color-background: #ffffff;
$color-default: #3a4856;
$color-heading: #3a4856;
$color-accent: #00a2ec;
$color-surface: #ffffff;
$color-contrast: #ffffff;
$color-twisted: #ff8c41;
// $color-secondary: #45505b;

// Nav Menu Colors
$nav-color: #3a4856;
$nav-hover-color: #0083c0;
$nav-mobile-background-color: #ffffff;
$nav-dropdown-background-color: #ffffff;
$nav-dropdown-color: #212529;
$nav-dropdown-hover-color: #00a2ec; 
