/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq {
    background-color: color-mix(in srgb, $color-accent, transparent 97%);
    border-top: 1px solid color-mix(in srgb, $color-accent, transparent 85%);
    border-bottom: 1px solid color-mix(in srgb, $color-accent, transparent 85%);
    padding: 50px 0;
    margin: 80px 0;

    .faq-item {
      margin: 20px 0;
      padding: 20px 0;
      border-bottom: 1px solid color-mix(in srgb, $color-default, transparent 85%);
  
      i {
        color: $color-accent;
        font-size: 18px;
        margin-right: 10px;
      }
  
      h4 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
      }
  
      p {
        font-size: 15px;
      }
  
      &:first-child {
        padding-top: 0;
        margin-top: 0;
      }
  
      &:last-child {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
  